<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-5</integer>
		<key>@MMK_R_S</key>
		<integer>-4</integer>
		<key>@MMK_R_T</key>
		<integer>-34</integer>
		<key>@MMK_R_U</key>
		<integer>-5</integer>
		<key>@MMK_R_V</key>
		<integer>-25</integer>
		<key>@MMK_R_Y</key>
		<integer>-23</integer>
		<key>@MMK_R_four</key>
		<integer>-20</integer>
		<key>@MMK_R_qr</key>
		<integer>-30</integer>
		<key>@MMK_R_seven</key>
		<integer>-28</integer>
		<key>@MMK_R_two</key>
		<integer>-5</integer>
		<key>@MMK_R_u</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_i</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-35</integer>
		<key>@MMK_R_Y</key>
		<integer>-35</integer>
		<key>@MMK_R_qr</key>
		<integer>-82</integer>
		<key>@MMK_R_y</key>
		<integer>-31</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-5</integer>
		<key>@MMK_R_V</key>
		<integer>-5</integer>
		<key>@MMK_R_X</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-25</integer>
		<key>@MMK_R_a</key>
		<integer>-35</integer>
		<key>@MMK_R_j</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-4</integer>
		<key>@MMK_R_V</key>
		<integer>-4</integer>
		<key>@MMK_R_t</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-34</integer>
		<key>@MMK_R_J</key>
		<integer>-60</integer>
		<key>@MMK_R_T</key>
		<integer>5</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_i</key>
		<integer>-30</integer>
		<key>@MMK_R_j</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-45</integer>
		<key>@MMK_R_qr</key>
		<integer>5</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
		<key>@MMK_R_t</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>@MMK_R_z</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-25</integer>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>-5</integer>
		<key>@MMK_R_S</key>
		<integer>-5</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-25</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_t</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-23</integer>
		<key>@MMK_R_J</key>
		<integer>-60</integer>
		<key>@MMK_R_a</key>
		<integer>-45</integer>
		<key>@MMK_R_i</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-45</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-1</integer>
		<key>@MMK_R_qr</key>
		<integer>-50</integer>
		<key>@MMK_R_s</key>
		<integer>-5</integer>
		<key>@MMK_R_t</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-22</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-14</integer>
	</dict>
	<key>@MMK_L_four</key>
	<dict>
		<key>@MMK_R_seven</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_hyphen</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_X</key>
		<integer>-40</integer>
		<key>@MMK_R_one</key>
		<integer>-15</integer>
		<key>@MMK_R_seven</key>
		<integer>-50</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_l</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_qr</key>
		<integer>-70</integer>
		<key>@MMK_R_t</key>
		<integer>-55</integer>
		<key>@MMK_R_v</key>
		<integer>-35</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-1</integer>
		<key>@MMK_R_qr</key>
		<integer>-15</integer>
		<key>@MMK_R_v</key>
		<integer>-1</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_p</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-26</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_period</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>5</integer>
		<key>@MMK_R_T</key>
		<integer>-45</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>5</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-35</integer>
		<key>@MMK_R_y</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_ql</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_qr</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-80</integer>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
		<key>@MMK_R_s</key>
		<integer>-65</integer>
		<key>@MMK_R_v</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-5</integer>
		<key>@MMK_R_v</key>
		<integer>-6</integer>
	</dict>
	<key>@MMK_L_seven</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_O</key>
		<integer>-5</integer>
		<key>@MMK_R_four</key>
		<integer>-50</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_two</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_X</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_j</key>
		<integer>-60</integer>
		<key>@MMK_R_period</key>
		<integer>-40</integer>
		<key>@MMK_R_qr</key>
		<integer>23</integer>
		<key>@MMK_R_t</key>
		<integer>15</integer>
		<key>@MMK_R_y</key>
		<integer>5</integer>
	</dict>
	<key>@MMK_L_two</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>four</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-1</integer>
		<key>@MMK_R_period</key>
		<integer>-35</integer>
		<key>@MMK_R_qr</key>
		<integer>15</integer>
		<key>@MMK_R_s</key>
		<integer>-6</integer>
		<key>comma</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-22</integer>
		<key>@MMK_R_j</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-5</integer>
		<key>@MMK_R_period</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
